/* General */

:root {
    font-size: 13pt;
    --card-bg: rgb(from var(--fg) r g b / 3%);
    --card-border: rgb(from var(--fg) r g b / 7%);
}

html {
    max-width: initial;
}

body {
    margin: initial;
}

a {
    color: var(--fg);
}

a:hover {
    color: var(--accent);
}

button {
    color: var(--fg);
}

/* Header */

@keyframes slide-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-appear-button {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    80% {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    display: flex;
    align-items: center;
    column-gap: 100px;
    overflow-x: hidden;
    padding-left: 100px;
    max-width: 1500px;
    margin: 0 auto;
}

header > div {
    min-width: 400px;
    padding-bottom: 300px;
}

header > img {
    width: 900px;
}

h1 {
    font-family: var(--bold);
}

#logo {
    transform: scale(1.8);
    padding-top: 0.8em; /* Otherwise, the logo clips on mobile */
    margin-bottom: -1em;
}

#title {
    white-space: nowrap;
}

#title > span {
    display: inline-block;
    opacity: 0;
    transform: translateY(15px);
    animation: slide-appear 0.5s forwards;
}

#hero {
    padding: 30px 0 30px;
}

.button {
    margin-top: 24px;
    animation: slide-appear-button 3.5s;
}

/* Cards */

main {
    max-width: 80em;
    margin: 30px auto;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    justify-content: center;
    align-content: center;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 10px 25px;
    border-radius: 16px;
    border: 1px solid var(--card-border);
    background-color: var(--card-bg);
}

#cards > .card {
    text-align: start;
}

/* Carousel */

#carousel {
    display: flex;
    max-width: 1500px;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 100px 0;
}

#carousel.js-disabled {
    height: initial;
}

#carousel > button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    transition: background-color 0.2s;
}

#carousel > button.js-disabled {
    display: none;
}

#carousel > button:hover {
    background-color: color-mix(in srgb, var(--card-bg), var(--fg) 5%);
    cursor: pointer;
}

#carousel-image-wrapper {
    width: 100%;
}

.carousel-image {
    max-height: 700px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-image.show {
    opacity: 1;
}

/* OS */

#icon {
    width: 120px;
    margin-top: 60px;
}

#os-buttons {
    white-space: nowrap;
}

#os-buttons > button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#os-buttons > button > * {
    margin: 0 auto;
}

#os-buttons > button:hover {
    background-color: var(--card-bg);
}

#os-buttons > button[aria-pressed="false"] > * {
    opacity: 0.4;
}

#os-buttons.js-disabled {
    display: none;
}

#os-content {
    min-height: 200px;
    max-width: 450px;
    align-content: center;
    margin: 0 auto;
    padding: 0 20px;
}

#os-content > * {
    transition: opacity 0.5s ease;
    opacity: 0;
}

#os-content > *.show {
    opacity: 1;
}

#os-content > .card.js-disabled {
    margin-top: 20px;
}

/* Media Queries */

@media (max-width: 900px) {
    header {
        margin-top: 92px;
        padding-left: initial;
    }

    header > div {
        padding-bottom: 40px;
    }

    header,
    #cards {
        flex-direction: column;
    }

    #cards > .card {
        max-width: 500px;
    }

    #carousel {
        height: 400px;
        margin: 50px 0;
    }

    .carousel-image {
        max-height: 400px;
    }

    footer > div > ul > li {
        display: block;
        text-align: start;
        padding: 10px;
    }
}

@media (prefers-reduced-motion) {
    #title > span,
    .button {
        opacity: initial;
        transform: initial;
        animation: initial;
        animation-delay: initial;
    }
}

@media (prefers-contrast: more) {
    #carousel > button,
    #os-buttons > button[aria-pressed="true"] {
        border: 1px solid var(--fg);
    }

    #os-buttons > button[aria-pressed="false"] > * {
        opacity: initial;
    }
}
