---
title: App Icons
description: Icons I designed for several applications
layout: default
---

<style>
  /* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/da740214b6c4af456996e620be59f91f19e216f5/src/stylesheet/_common.scss#L98 */
  .icon-dropshadow {
    filter: drop-shadow(0 1px 12px rgb(0 0 6 / 5%))
      drop-shadow(0 -1px rgb(0 0 6 / 5%)) drop-shadow(1px 0 rgb(0 0 6 / 10%))
      drop-shadow(0 1px rgb(0 0 6 / 30%)) drop-shadow(-1px 0 rgb(0 0 6 / 10%));
  }

  #icons {
    max-width: 750px;
    margin: auto;

    > a {
      > img {
        margin: 0.5em;
        display: inline;

        @media not (prefers-reduced-motion) {
          transition: margin 0.3s;
          animation: bounce-appear;

          &:hover:not(:active) {
            margin-top: 0;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
</style>

<div id="icons">
  {% for app in apps %}
  <a title="{{ app.name }}" href="{{ app.url }}">
    <img
      alt=""
      width="128"
      height="128"
      class="icon-dropshadow"
      style="animation-duration: {{ forloop.index0 | times: 0.05 | plus: 0.5 }}s;"
      src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
    />
  </a>
  {% endfor %}
</div>
