---
permalink: /app-icon-design
title: App Icons
description: Icons I designed for several applications.
---

<style>
    .icons {
        max-width: 462px;
        padding: 40px;
        border-radius: 18px;
        display: flex;
        margin: auto;
        flex-wrap: wrap-reverse;
        gap: 18px;
    }

    .icons img {
        border-radius: 0;
    }

    .icons img:not(.symbolic) {
        filter: drop-shadow(0px 3px 2px rgba(0 0 0 / 15%));
    }

    @media (prefers-color-scheme: dark) {
        .symbolic {
            filter: invert(100%);
        }
    }
</style>
{% for app in site.data.apps %}
<h1 class="selectable">
    <a style="font-family: var(--bold)" href="{{ app.url }}">{{ app.name }}</a>
</h1>
<p class="selectable">{{ app.desc }}</p>
<br />
<div
    class="icons"
    style="
      background-color: color-mix(in srgb, var(--bg), #{{ app.color }} 30%);
      border: 1px color-mix(in srgb, var(--bg), #{{ app.color }} 35%) solid;
    "
>
    <img
        alt="Symbolic App Icon"
        width="16"
        height="16"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}-symbolic.svg"
        class="symbolic"
    />
    <img
        alt="App Icon"
        width="32"
        height="32"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
    />
    <img
        alt="App Icon"
        width="64"
        height="64"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
    />
    <img
        alt="App Icon"
        width="128"
        height="128"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}.svg"
    />
    {% if app.on-macos == true %}
    <img
        alt="App Icon"
        width="150"
        height="150"
        src="/images/app-icons/{{ app.name | downcase | replace: ' ', '-' }}-macos.webp"
    />
    {% endif %}
</div>
<br />
<br />
<br />
{% endfor %}
<p class="selectable" style="margin: 0 auto">
    I hang out in the GNOME
    <a href="https://matrix.to/#/#appicondesign:gnome.org">App Icon Design</a>
    Matrix room.
    <br />
    If you want to request an icon, you can find me there.
</p>
<br />
{% include back-to-top.html %}
