---
title: CommitEdit
description: "A native macOS commit message editor"
layout: default
---
<img alt="" src="/images/commitedit.webp" style="max-width: 128px;">
<h1 class="selectable">CommitEdit</h1>
<p class="selectable" style="max-width: 40ch; margin: 0 auto">A native macOS commit message editor</p>
<div style="margin-top: 1em; margin-bottom: 3em">
  <a
    class="button suggested"
    href="https://git.kramo.page/CommitEdit/releases/latest"
  >
    Install
  </a>
  <a class="button" href="https://git.kramo.page/CommitEdit"> Source Code </a>
</div>
<img alt="" src="/images/screenshots/commitedit.webp">
