@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/geist/GeistMonoVF.woff2) format("woff2");
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes body-appear {
  from {opacity: 0;}
  20% {opacity: 0;}
  to {opacity: 1;}
}

:root {
  --fg: black;
  --bg: ghostwhite;
  --links: royalblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: ghostwhite;
    --bg: black;
    --links: cornflowerblue;
  }
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--fg) var(--bg);
}

body {
  /* Fonts */
  font-family: Geist Mono;

  /* Colors */
  background-color: var(--bg);
  color: var(--fg);

  /* Animation */
  opacity: 0;
  animation: body-appear .5s forwards;

  /* Spacing */
  margin: 1em;
  text-align: center;
  line-height: 1.5em;
}

a {
  color: var(--links);
}

img {
  border-radius: 6px;
  max-width: 90%;
  display: block;
  margin: auto;
}

#skip-navigation {
  position: absolute;
  left: 1em;
  padding: 1em;
  background-color: var(--bg);
  transform: translateY(-200%);
  transition: transform 0.2s;
}

#skip-navigation:focus {
  transform: translateY(0);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

#navbar a {
  color: var(--fg);
  text-decoration: none;
}

@media (prefers-reduced-motion) {
  body {
    opacity: initial;
    animation: initial;
  }
  #skip-navigation {
    transition: transform 0s;
  }
}