@font-face {
    font-family: "Geist Regular";
    src: url(/fonts/geist/Geist-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Geist Medium";
    src: url(/fonts/geist/Geist-Medium.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Geist SemiBold";
    src: url(/fonts/geist/Geist-SemiBold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Geist Bold";
    src: url(/fonts/geist/Geist-Bold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Geist UltraBlack";
    src: url(/fonts/geist/Geist-UltraBlack.woff2) format("woff2");
    font-display: swap;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes body-appear {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root {
    --fg: #302a25;
    --bg: snow;
    --accent: #ff4000;
    --accent-dim: color-mix(in srgb, var(--accent) 80%, var(--fg));

    --regular: "Geist Regular";
    --medium: "Geist Medium";
    --semibold: "Geist SemiBold";
    --bold: "Geist Bold";
    --black: "Geist UltraBlack";

    color-scheme: light dark;
}

:focus-visible {
    outline: solid 1px var(--accent);
    border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: snow;
        --bg: #110f0f;
    }
}

::selection {
    color: var(--bg);
    background: var(--fg);
}

a::selection {
    color: white;
    background: var(--accent-dim);
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--fg) var(--bg);

    /* HiDPI */
    margin: 0 auto;
    max-width: 80em;
}

body {
    /* Fonts */
    font-family: var(--regular);

    /* Colors */
    background-color: var(--bg);
    color: var(--fg);

    /* Animation */
    opacity: 0;
    animation: body-appear 0.5s forwards;

    /* Spacing */
    margin: 1em;
    text-align: center;

    /* Wrapping */
    text-wrap: balance;
}

a {
    color: var(--accent-dim);
    font-family: var(--medium);
    text-decoration: none;
    transition-duration: 0.4s;
}

h1 {
    font-family: var(--black);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--semibold);
}

img,
video {
    max-width: 90%;
    display: block;
    margin: auto;
    object-fit: contain;
}

img {
    border-radius: 18px;
}

video {
    border-radius: 12px;
}

a.arrow-link > * {
    transition: transform 0.3s;
}

a.arrow-link span {
    transition: margin-left 0.4s;
}

#skip-navigation {
    position: absolute;
    left: 1em;
    padding: 1em;
    background-color: var(--bg);
    color: var(--fg);
    transform: translateY(-200%);
    transition: transform 0.2s;
}

#skip-navigation:focus {
    transform: translateY(0);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    gap: 1.2em;
}

#navbar a {
    color: var(--fg);
}

@media (pointer: fine) {
    a:hover {
        color: var(--fg);
    }

    a.arrow-link:hover > * {
        transform: scale(1.1);
    }

    a.arrow-link:hover span {
        margin-left: 0.4em;
    }

    a.arrow-link:active > * {
        transform: scale(0.98);
    }

    #navbar a:hover {
        color: var(--accent-dim);
    }
}

@media (prefers-reduced-motion) {
    body {
        opacity: initial;
        animation: initial;
    }

    a {
        transition-duration: 0s;
    }

    a:hover {
        text-decoration: underline;
    }

    a.arrow-link > * {
        transition: initial;
    }
    a.arrow-link:hover > *,
    a.arrow-link:active > * {
        transform: initial;
    }
    a.arrow-link:hover span {
        margin-left: initial;
    }

    #skip-navigation {
        transition: transform 0s;
    }
}

@media (prefers-contrast: more) {
    a {
        text-decoration: underline;
    }
}
