@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/geist/GeistMonoVF.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Regular";
  src: url(/fonts/geist/Geist-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Medium";
  src: url(/fonts/geist/Geist-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Geist SemiBold";
  src: url(/fonts/geist/Geist-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Bold";
  src: url(/fonts/geist/Geist-Bold.woff2) format("woff2");
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes body-appear {
  from {opacity: 0;}
  20% {opacity: 0;}
  to {opacity: 1;}
}

:root {
  --fg: #110f0f;
  --bg: snow;
  --accent: #FF4000;
  --accent-dim: color-mix(in srgb, var(--accent) 80%, var(--fg));

  color-scheme: light dark;
}

:focus-visible {
  outline: solid 1px var(--accent);
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: snow;
    --bg: #110f0f;
  }
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

a::selection {
  color: white;
  background: var(--accent-dim);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--fg) var(--bg);

  /* HiDPI */
  margin: 0 auto;
  max-width: 80em;
}

body {
  /* Fonts */
  font-family: system-ui, "Geist Regular";

  /* Colors */
  background-color: var(--bg);
  color: var(--fg);

  /* Animation */
  opacity: 0;
  animation: body-appear .5s forwards;

  /* Spacing */
  margin: 1em;
  text-align: center;
  line-height: 1.5em;
}

h1 {
  font-family: system-ui, "Geist Bold";
}

h2, h3, h4, h5, h6 {
  font-family: system-ui, "Geist SemiBold";
}

a {
  color: var(--accent-dim);
  font-family: system-ui, "Geist Medium";
  text-decoration: none;
  transition-duration: 0.4s;
}

img {
  border-radius: 6px;
  max-width: 90%;
  display: block;
  margin: auto;
}

#skip-navigation {
  position: absolute;
  left: 1em;
  padding: 1em;
  background-color: var(--bg);
  color: var(--fg);
  transform: translateY(-200%);
  transition: transform 0.2s;
}

#skip-navigation:focus {
  transform: translateY(0);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  gap: 1.2em;
}

#navbar a {
  color: var(--fg);
}

@media (pointer: fine) {
  a:hover {
    color: var(--fg);
  }

  #navbar a:hover {
    color: var(--accent-dim);
  }
}

@media (prefers-reduced-motion) {
  body {
    opacity: initial;
    animation: initial;
  }

  a {
    transition-duration: 0s;
  }

  a:hover {
    text-decoration: underline;
    color: var(--accent-dim);
  }

  #skip-navigation {
    transition: transform 0s;
  }
}
