---
title: Vanilla&nbsp;OS Wallpapers
description: Default wallpapers for Vanilla&nbsp;OS.
layout: default
---

<style>
    img {
        margin-bottom: 2em;
    }

    h2 {
        margin-top: 3em;
    }
</style>

<h1 class="selectable">Vanilla&nbsp;OS Wallpapers</h1>

<p class="selectable">
    Default wallpapers for <a href="https://vanillaos.org/">Vanilla&nbsp;OS</a>
</p>

<h2 class="selectable">Vanilla</h2>
<img class="rounded" alt="Vanilla Default" src="/images/vanilla-default.svg" />
<img class="rounded" alt="Vanilla Dark" src="/images/vanilla-dark.svg" />

<h2 class="selectable">Orchid</h2>
<img class="rounded" alt="Orchid Light" src="/images/orchid-light.svg" />
<img class="rounded" alt="Orchid Dark" src="/images/orchid-dark.svg" />

{% include "cc-by-sa.liquid" %}
