---
title: Vanilla&nbsp;OS Wallpapers
description: "Default wallpapers for Vanilla&nbsp;OS"
layout: default
---
<style>
  img {
    margin: 2em auto;
  }

</style>

<h1 class="selectable">Vanilla&nbsp;OS Wallpapers</h1>

<p class="selectable">Default wallpapers for <a href="https://vanillaos.org/">Vanilla&nbsp;OS</a></p>

<img class="rounded" title="Vanilla Default" src="/images/vanilla-default.svg">
<img class="rounded" title="Vanilla Dark" src="/images/vanilla-dark.svg">

<img class="rounded" title="Orchid Light" src="/images/orchid-light.svg">
<img class="rounded" title="Orchid Dark" src="/images/orchid-dark.svg">

{% include 'cc-by-sa' %}
