<style>
  #back-to-top.button {
    margin-top: 2em;
    padding: 1.2em 2em;
    align-self: center;
  }
</style>

<a id="back-to-top" class="button suggested" href="#nav">
  <div>Back to Top<span class="arrow" aria-hidden="true"> ↑</span></div>
</a>
