---
layout: plain
---
<br>
<main id="content" class="{{ tags }}">{{ content }}</main>
<footer>
  <div>
    <ul>
      <li>
        <a href="/">{% include 'kramo' %}</a>
      </li>
      <li><a href="/links">Contact</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </div>
</footer>
