<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>
        <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">

        <!-- Mastodon verification -->
        <link rel="me" href="https://fosstodon.org/@kramo">
        <link rel="me" href="https://mastodon.social/@kramo">
    </head>
    <body>
        <header>
            <nav id="navbar">
                <a href="/" style="margin-right: auto;">kramo</a>
                <a href="/about/">about</a>
                <span aria-hidden="true">|</span>
                <a href="/links/">links</a>
                <span aria-hidden="true">|</span>
                <!-- 👋🕷️ -->
                <a class="menu"" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#107;&#114;&#97;&#109;&#111;&#46;&#104;&#117;">mail</a>
            </nav>
        </header>
        <br>
        <section>
            {{ content }}
        </section>
        <br>
        <br>
    </body>
</html>