<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="canonical" href="https://kramo.page{{ page.dir }}" />

        <title>{{ page.title }}</title>
        <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
        <link rel="stylesheet" type="text/css" href="/stylesheet.css?v=1.0" />

        <!-- Mastodon verification -->
        <link rel="me" href="https://fosstodon.org/@kramo" />
        <link rel="me" href="https://mastodon.social/@kramo" />
    </head>
    <body id="plain-body">
        {{ content }}
    </body>
</html>
